<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DashBoard</title>
</head>
<body>
    <h1 align = "center" >Welcome To DashBoard!!</h1>
    <center>
        <a href="/Welcome_Dashboard">DashBoard</a>
        <a href="/change_password">Change Password</a>
        <a href="/logout">Logout</a>
    </center>
    
</body>
</html>