<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/CSS/my.css">
    <script src="../static/js/abc.js"></script>
    <style>
        .chd{
            color: red;
            background-color: black;
            padding: 10px;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; color: red;">Welcome to Node JS</h1>
    <h1 class="chd">Testing</h1>
    <h1 class="test">Chandigarh</h1>
    <button onclick="Zirakpur()">Click Me</button>

    <%- include('common/nav') %>
    <!-- <center>
        <a href="/ram">About</a>
        <a href="/zirakpur">Contact us</a>
    </center> -->
</body>
</html>