<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Data</title>
</head>
<body>
    <%- include('common/nav') %>
    <br><br>
    <h1 align="center">Student Registration</h1>

    <form align = "center" action="/student_add" method="post" enctype="multipart/form-data">
        Enter Student Name  <input type="text" name="name" required> <br><br>
        Enter Student Roll  <input type="number" name="roll" required> <br><br>
        Photo <input type="file" name="photo" required><br><br>
        <button>Add now</button>
    </form>

   <% if(locals.message){ %>
        <h1><%=message%></h1>
    <%} %>
</body>
</html>