<center>
    <a href="/">Home</a>
    <a href="/ram">About Us</a>
    <a href="/zirakpur">Contact Us</a>
    <a href="/findSum">Addition Application</a>
    <a href="/subtract">Substraction Application</a>
    <a href="/multi">Multiply Application</a>
    <a href="/test">Bootstrap Testing</a>
    <a href="/test2">Bootstrap Testing 2</a>
    <a href="/record_registration">Add Record</a>
    <a href="/display_records1">Display Records1</a>
    <a href="/display_records2">Display Records2</a>
    <a href="/display_records3">Display Records3</a>
    <a href="/search_record">Search Record</a>
    <a href="/delete_show">Delete and Show</a>
    <a href="/count_entries">Count</a>
    <a href="/student_add">Add Students</a>
    <a href="/student_display">Student Records</a>
    <a href="/login">Login</a>
    <a href="/signup">New User?</a>
</center>